<!-- pc所有页面的layout模板 -->
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>【限时抢购】限时秒杀，正品保证，极速送达</title>
    <meta name="keywords" content="大聚惠,苏宁打折,优惠促销,苏宁优惠,聚划算,苏宁团购-苏宁易购大聚惠!"/>
    <meta name="description" content="苏宁易购【大聚惠】频道,为您精选服饰,鞋帽,家电,数码,母婴,音像等热门商品团购,聚划算,优惠促销,打折,秒杀,限时折扣优惠信息,聚优品,惠生活,省钱放心上苏宁,尽享购物乐趣!"/>
    <meta name="siteid" content="d488778a"/>
    <meta name="pageid" content="zsqcc"/>
    <meta name="mobile-agent" content="format=[wml|xhtml|html5]; url=https://ju.m.suning.com/wap/windex_0.htm">
    <link rel="dns-prefetch" href="//ju.suning.com">
    <link rel="dns-prefetch" href="//product.suning.com">
    <link rel="dns-prefetch" href="//tuijian.suning.com">
    <link rel="dns-prefetch" href="//tuijian.suning.com">
    <link rel="dns-prefetch" href="//res.suning.cn">
    <link rel="dns-prefetch" href="//img.suning.cn">
    <link rel="dns-prefetch" href="//image.suning.cn">
    <link rel="dns-prefetch" href="//image1.suning.cn">
    <link rel="dns-prefetch" href="//image2.suning.cn">
    <link rel="dns-prefetch" href="//image3.suning.cn">
    <link rel="dns-prefetch" href="//image4.suning.cn">
    <link rel="dns-prefetch" href="//image5.suning.cn">

    <!-- <link rel="shortcut icon" href="//res.suning.cn/public/favicon.ico" type="image/x-icon"> -->
    <script type="text/javascript">
        //全局变量
        var sn = sn || {
            "context": "/emall",
            "domain": "www.suning.com",
            "storeId": "10052",
            "catalogId": "10051",
            "memberDomain": "member.suning.com",
            "online": "online.suning.com",
            "cookieDomain": ".suning.com",
            "categoryId": "10051",
            "searchDomain": 'http://search.cnsuning.com/emall/',
            "hasSidebar": false
        };
        
            var ju_env = 'PRD';
            var passport_config = passport_config || {
                login: "https://passport.suning.com/ids/login",
                base:"https://loginst.suning.com/",
                loginTheme: "b2c"
            };
              
    </script>
    <link rel="shortcut icon" href="//www.suning.com/favicon.ico" type="image/x-icon"/>

<link rel="stylesheet" href="//res.suning.cn/public/v3/css/??v3common.min.css,search.min.css,sn-sidebar.min.css?v=2019050801"/>
<script type="text/javascript" src="//res.suning.cn??/public/v3/js/jquery.js,/public/v3/js/sn_lazyload.js,/public/v3/js/lazyelem.min.js,/public/v3/js/SFE.base.min.js,/public/v3/js/search.min.js,/public/sidebar/build/js/sn-sidebar.min.js,/project/yunxin/js/chatCompat_mini.js?v=2019050801"></script>


<meta content="true" name="autoclick">
<meta content="d488778a" name="siteid">

<!--[if IE 6]>
<script type="text/javascript" src="//res.suning.cn/public/js/DD_belatedPNG.js"></script>
<![endif]-->
    <link type="text/css" rel="stylesheet" href="//res.suning.cn/project/min/nmnode/pc/css/zsq.css?v=2595532" />

    <!--听云js-->
    <script src="//res.suning.cn/project/crdnode/common/tingyun2.js"></script>

    <!-- 埋点js -->
    
        <script type="text/javascript" src="//res.suning.cn/??javascript/sn_da/da_opt.js,javascript/sn_da/saSiteDsp.js,javascript/sn_da/sa-analytics.js"></script>
    
</head>
<body>

    <script type="text/javascript">
        /*
         * 宽窄屏切换
         * */
        var bigscreen = false,
            bodyTag = document.getElementsByTagName("body")[0],
            bodyClassName = bodyTag.getAttribute("className") || bodyTag.getAttribute("class");
            bodyClassName = bodyClassName ? bodyClassName + " " : "";
        if (screen.width >= 1200) {
            bigscreen = true;
            bodyTag.className = bodyClassName + "root1200";
        } else{
            bigscreen = false;
            bodyTag.className = bodyClassName + "root990";
        }
    </script>

    <!-- 顶通 -->
    
        
            


        
            


        
    

	<div id="_TOP_BANNER_" class="ng-top-banner"></div>
<div class="ng-toolbar">
	<div class="ng-toolbar-con wrapper">
		<div class="ng-toolbar-left">
			<a href="//www.suning.com" class="ng-bar-node ng-bar-node-backhome" id="ng-bar-node-backhome" name="public0_none_gongju_fanhui" sap-modid="pyiw5">
				<i class="ng-iconfont ng-backhome">&#xe640;</i><span>返回首页</span>
			</a>
			<script type="text/javascript">
				if (!sn.isHome){document.getElementById('ng-bar-node-backhome').style.display = "block";};
			</script>
			<div class="ng-bar-node-box ng-site-nav-box lazy-bar-box" sap-modid="sTMJP">
				<a href="javascript:void(0);" class="ng-bar-node ng-bar-node-site" name="public0_none_daohang_wzdh">
					<span>网站导航</span><em class="ng-iconfont down">&#xe62e;</em>
				</a>
				<div class="ng-sn-site-nav ng-d-box site-nav-child" style="display:none;">
					<!--网站导航列表-->
					<div class="head-loading"></div>
					<a href="javascript:void(0);" class="ng-close" name="public0_none_daohang_close"><em class="ng-iconfont">&#xe627;</em></a>
				</div>
			</div>		
			<div class="ng-bar-node-box shop-handle lazy-bar-box" sap-modid="yj2Q">
				<a href="https://sop.suning.com" class="ng-bar-node ng-bar-node-pr5  ng-bar-node-shop touch-href" name="public0_none_shangjia_ruzhu" target="_blank"><span>商家入驻</span><em class="ng-iconfont down">&#xe62e;</em></a>
				<div class="ng-down-box ng-d-box shop-center-child ng-ser-list" style="display:none;">
					<!--商家入驻列表-->
					<div class="head-loading"></div>
				</div>
			</div>
			<!--服务中心 [[-->
			<div class="ng-bar-node-box service-handle lazy-bar-box" sap-modid="Fgfr4">
				<a href="javascript:void(0);" class="ng-bar-node ng-bar-node-service ng-bar-node-fix touch-href ng-bar-node-pr5" rel="nofollow" name="public0_none_kehu_fuwu"><span>客户服务</span><em class="ng-iconfont down">&#xe62e;</em>
				</a>
				<div class="ng-down-box ng-d-box service-center-child ng-ser-list" style="display:none;">
					<!--服务中心列表-->
					<div class="head-loading"></div>
					<a href="javascript:navIndex();" rel="nofollow" name="public0_none_kehu_zixun" style="display:none;"><span>在线咨询</span><em class="ng-iconfont">&#xe631;</em></a>
				</div>
			</div>
			<!--服务中心 ]]-->	

			<!--网站导航 ]]-->

			<!-- 消息 [[ -->
			<!-- <div class="ng-bar-node-box ng-msg-box">
				<a href="//msg.suning.com/" class="ng-bar-node ng-bar-node-msg" name="public0_none_dbgjt_wdxx01" target="_blank">
					<span>消息<i class="ng-iconfont dot"></i></span><em class="ng-iconfont down">&#xe62e;</em>
				</a>
				<div class="ng-d-box ng-msg-child" style="display:none;">
					<div class="ng-msg-list">
						<div class="ng-msg-item ng-msg-item-no">
							<i></i><span>嗷~ 没有新消息...</span>
						</div>
					</div>
					<div class="ng-msg-bottom"><a href="//msg.suning.com/" name="public0_none_dbgjt_wdxx01" target="_blank">查看更多</a></div>
				</div>
			</div>	 -->
			<!-- 消息 ]] -->
		</div>
		<div class="ng-toolbar-right">
			<!-- 登录注册 -->
			<a href="javascript:void(0)" class="ng-bar-node username-bar-node username-bar-node-showside" id="username-node" rel="nofollow" style="display:none;">
				<span id="usernameHtml01"></span>
				<em class="hasmsg ng-iconfont">&#xe637;</em>
			</a>
			<div class="ng-bar-node-box username-handle" id="username-node-slide" style="display:none;" sap-modid="AVsm">
				<a href="//my.suning.com" rel="nofollow" class="ng-bar-node username-bar-node username-bar-node-noside">
					<span id="usernameHtml02"></span>
					<em class="hasmsg ng-iconfont">&#xe637;</em>
					<em class="ng-iconfont down">&#xe62e;</em>
				</a>
				<div class="ng-d-box ng-down-box ng-username-slide" style="display:none;">
					<a href="//my.suning.com/person.do" class="ng-vip-union" target="_blank" name="public0_none_denglu_zhanghao" rel="nofollow">账号管理</a>
					<a href="javascript:SFE.base.logoff();" rel="nofollow" name="public0_none_denglu_tuichu">退出登录</a>
				</div>
			</div>
			<div class="ng-bar-node reg-bar-node" id="reg-bar-node" sap-modid="dYp4">
				<a href="javascript:SFE.base.logonurl();" name="public0_none_denglu_denglu" rel="nofollow" class="login">请登录</a>
				<a href="https://reg.suning.com/person.do" target="_blank" class="login reg-bbb" rel="nofollow" name="public0_none_denglu_zhuce">注册有礼</a>
			</div>
			<script type="text/javascript">

				var stripscript = function(s){
				    var pattern = new RegExp("[<>]")
				    var rs = "";
				    for (var i = 0; i < s.length; i++) {
				     rs = rs+s.substr(i, 1).replace(pattern, '');
				    }
				    return rs;
				}

				function d(b) {
					var a;
					return (a = document.cookie.match(RegExp("(^| )" + b + "=([^;]*)(;|$)"))) ?stripscript(decodeURIComponent(a[2].replace(/\+/g, "%20"))) : null
				};
				var uernameA = d("logonStatus");
				var usernameNode = document.getElementById('username-node');
				var usernameNodeSlide = document.getElementById('username-node-slide');
				var usernameHtml01 = document.getElementById('usernameHtml01') , usernameHtml02 = document.getElementById('usernameHtml02');
				var regBarNode = document.getElementById('reg-bar-node');
				if (uernameA != null && uernameA != "") {
					var uernameC = d("nick");
					// if( ((window.sidebar_config && sidebar_config.enable)||sn.hasSidebar) && !sn.hasNewSidebar ){
					// 	usernameNode.style.display = "block";
					// }else{
						usernameNodeSlide.style.display = "block";
					//}
					usernameHtml01.innerHTML = uernameC;
					usernameHtml02.innerHTML = uernameC;
					regBarNode.style.display = "none";
				}else{
					usernameNode.style.display = "none";
					usernameNodeSlide.style.display = "none";
					usernameHtml01.innerHTML = " ";
					usernameHtml02.innerHTML = " ";
					regBarNode.style.display = "block";
				}
			</script>
			
			<!--我的订单 [[-->
			<div class="ng-bar-node-box myorder-handle" sap-modid="Ygnh">
				<a href="//order.suning.com/order/orderList.do" rel="nofollow" name="public0_none_wode_dingdan" class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5"><span>我的订单</span><em class="ng-iconfont down">&#xe62e;</em></a>
				<div class="ng-down-box ng-d-box myorder-child" style="display:none;">
					<a href="//order.suning.com/order/orderList.do?transStatus=waitPay" rel="nofollow" name="public0_none_wode_zhufu">待支付<em id="waitPayCounts"></em></a>
					<a href="//order.suning.com/order/orderList.do?transStatus=waitReceive" rel="nofollow" name="public0_none_wode_shouhuo">待收货<em id="waitDeliveryCounts"></em></a>
					<a href="//review.suning.com/my_cmmdty_review.do" rel="nofollow" name="public0_none_wode_pingjia">待评价<em id="waitEvaluation"></em></a>
					<a href="//snasss.suning.com/snass-web/pc/modify/toModifyOrderList.do" rel="nofollow" name="public0_none_wode_xiugai">修改订单</a>
				</div>
			</div>
			<!--我的订单 ]]-->

			<!--我的易购 [[-->
			<div class="ng-bar-node-box mysuning-handle" sap-modid="P5ptt">
				<a href="//my.suning.com" rel="nofollow" name="public0_none_wode_yigou" class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5"><span>我的易购</span><em class="ng-iconfont down">&#xe62e;</em></a>
				<div class="ng-down-box ng-d-box mysuning-child" style="display:none;">
					<div class="mysuning-infor clearfix">
						<a name="public0_none_wode_touxiang" target="_blank" href="//my.suning.com/person.do?targetTab=head" class="headimg"><img src3="//image.suning.cn/uimg/cmf/cust_headpic/0000000000_01_60x60.jpg" alt="" id="userHead" /></a>
						<div class="mysuning-detail">
							<a name="public0_none_denglu_denglu" href="javascript:SFE.base.logonurl();" class="login" >请登录</a>
							<a name="public0_none_wode_name" href="//my.suning.com" rel="nofollow" class="username" id="userNickname"></a>
						</div>
					</div>
					<a href="//2.suning.com/myOrder/queryMyOrders.do" name="public0_none_wode_ershou" rel="nofollow" target="_blank">我的二手</a>
					<a href="//favorite.suning.com/myFavoriteImg.do" rel="nofollow" name="public0_none_wode_shoucang" target="_blank">我的关注</a>
					<a href="https://passport.suning.com/ids/trustLogin?sysCode=epp&targetUrl=http://my.jr.suning.com/sfp/accountAssets/index.htm" rel="nofollow" name="public0_none_wode_jinrong" target="_blank">我的金融</a>
					<a href="//vip.suning.com" class="ng-vip-union" target="_blank" rel="nofollow" name="public0_none_wode_huiyuan">苏宁会员<em class="ng-iconfont">&#xe6ac;</em></a>
					<a href="https://rxf.suning.com/epps-cpf/accountMgt/assetOverview.do" rel="nofollow" name="public0_none_wode_renxingfu">我的任性付</a>
					<a href="//quan.suning.com/yhq.do" rel="nofollow" name="public0_none_wode_quan">我的优惠券</a>
				</div>
			</div>
			<!--我的易购 ]]-->
			<a href="//vip.suning.com/" name="public0_none_sn_huiyuan" rel="nofollow" class="ng-bar-node ng-bar-node-pr5" target="_blank" sap-modid="lAi5"><span>苏宁会员</span></a>
			<!--[[ 购物车  2017-06-08 添加购物车商品 -->
			<div class="ng-bar-node-box cart-handle" sap-modid="lQl9p">
				<a class="ng-bar-node ng-bar-node-mini-cart " name="public0_none_gouwuche_gwc" rel="nofollow" href="//shopping.suning.com/cart.do">
					<em class="ng-iconfont cart">&#xe623;</em><span>购物车</span>
					<span class="total-num-box" id="J_total_num_box">
						<b class="total-num J_cart_total_num" id="showTotalQty">0</b>
						<span class="total-num-bg-box">
							<em></em>
							<i></i>
						</span>
					</span>
					<em class="ng-iconfont down">&#xe62e;</em>
				</a>
				<div class="ng-down-box ng-d-box cart-child" style="display:none;"><!-- -->
					<div class="cart-box">

					</div>
					<div class="cart-loading"><p class="loading-content">加载中...</p></div>
				</div>
				<script type="text/javascript">
                    var ngCartNum =  d("totalProdQty"); 
                    ngCartNum = ( ngCartNum ==0 || ngCartNum == null )?0:ngCartNum;
                    ngCartNum = parseInt(ngCartNum);
                    ngCartNum = ngCartNum>99?'99+':ngCartNum;
                    document.getElementById('showTotalQty').innerHTML = ngCartNum;
				</script>
			</div>
			<!-- 购物车 ]] -->

			<a href="https://passport.suning.com/ids/trustLogin?sysCode=epp&agentType=pc&targetUrl=https://pay.suning.com/epp-epw/login/login.action" name="public0_none_yifubao_yfb" class="ng-bar-node ng-bar-node-pr5" target="_blank"  sap-modid="KdRR"><span>易付宝</span></a>
			<a href="//b.suning.com/" class="ng-bar-node ng-bar-node-pr5" name="public0_none_qiye_caigou" target="_blank"  sap-modid="TJwSg"><span>企业采购</span></a>
			
			<!--手机苏宁 [[-->	
			<div class="ng-bar-node-box app-down-box" sap-modid="3D1su">
				<a href="//cuxiao.suning.com/newUser.html" target="_blank" name="public0_none_shouji_sn" rel="nofollow" class="ng-bar-node mb-suning touch-href"><span>手机苏宁</span><em class="ng-iconfont down">&#xe62e;</em></a>
				<div class="ng-mb-box ng-d-box mb-down-child" style="display:none;">
					<ul class="ng-app-code">
						<li>
							<img class="top-code" src3="//res.suning.cn/public/v3/images/sntk-top-code.png?var=01" alt="苏宁易购APP"/>
							<p>关注苏宁推客公众号</p>
							<p>自购省钱·分享赚钱</p>
						</li>
						<li>
							<img class="top-code" src3="//res.suning.cn/public/v3/images/yfb-top-code.png?var=01" alt="易付宝APP"/>
							<p>扫一扫</p>
							<p>下载苏宁金融APP</p>
						</li>
						<li>
							<img class="top-code" src3="//res.suning.cn/public/v3/images/app-code.jpg?var=01" alt="易购服务号"/>
							<p>扫一扫</p>
							<p>关注苏宁易购服务号</p>
						</li>
					</ul>
					<div class="line"></div>
					<div class="line lineTwo"></div>
				</div>
			</div>
			<!--手机苏宁 ]]-->	
		</div>
		<div id="ng-minicart-slide-box"></div>
	</div>
</div>
	




<!-- 当前页的页面标识 -->
<input type="hidden" name="" value="zsqcc" data-bid="ndjh-sph" id="J-pageid">
<meta content="true" name="autoclick">
<!-- 版本号 -->
<input type="hidden" name="" value="?v=2595532" id="J-imgversion">

<!-- pagename -->
<input type="hidden" id="pagename" value="pgcate=10004;tag=100036;pgtitle=限时抢购;prdid=;shopid=;supid=;djhbrand=;tab=正在疯抢">

<div class="zsq-wrap">


	<div class="zsq-header-pc">
  <div class="zsq-header">
    <div class="header">
      <div class="logo">
        <a onclick="return false;" href="javascript: void(0)" target="_blank"></a>
      </div>
      <div class="page">
         <a onclick="return false;" href="/pc/zsq.html"  target="_blank" class="current">首页</a>
      </div>
      <div class="page">
        <a  href="/pc/brandGroup-2.html" class="brandGroup" target="_blank" >品牌抢购</a>
      </div>
      <div class="beishu"></div>
      <div class="clear"></div> 
    </div>
  </div>
</div>
 
	<div class="main-wrap">

		<div class="zsq-time-wraper">
  <div class="time-wraper">
    <div class="zsq-palam-time">
      <ul class="palam-time" sap-modid='zsqcckqModule' autoexpo="true">
        <div class="clear"></div>
      </ul>
      <div class="prev btn"></div>
      <div class="next btn"></div>
    </div>
  </div>
</div>

<input id="time-node" type="hidden" /> 

<script type="text/html" id="palam-times">
  {{each data as item i}}
  <li class="time {{if item.isCurrent}}current{{/if}}"
    data-timelong="{{item.timeLong}}"
    data-type="{{item.type}}"
    data-name1="{{item.name1}}"
  >
    <a href="javascript: void(0)" name="snqg_cc_tab_cc{{i}}">
      <span>{{item.name}}</span>
      <p class="count-down">
        <span class="time-text"></span>
        <span class="hour-node"></span>:<span class="minute-node"></span>:<span class="second-node"></span>
      </p>
    </a>
  </li>
  {{/each}}
</script>
 
 
		
		<div class="ju-slider-wrapper">
  <div class=" ju-slider">
    
      
      
    
      
      
    
  </div>
</div>

		  

		<div class="zsq-palam-list" sap-modid='zsqccspModule' autoexpo="true"></div>

<script type="text/html" id="commList">
  {{each data as item i}}
  <div
    class="palam-item"
    data-grppurid="{{item.grppurId}}"
    data-partnumber="{{item.partnumber}}"
    data-vendorcode="{{item.vendorCode}}"
    data-defsubcomm="{{item.defSubComm}}"
    data-handwork="{{item.handwork}}"
    data-issetmeal="{{item.isSetmeal}}"
    data-issuper="{{item.isSuper}}"
    data-type="{{item.type}}"
    rel="processPrice"
  >
      <div class="item-img">
        <img class="lazy-loading" lazy-src="{{item.newCommImgUrl}}" alt="" />
      </div>
      <div class="item-info">
        <div class="name">{{item.grppurName || item.partName}}</div>
        <div class="progress">
          {{if item.type !== 'JJKQ'}}
          <div class="pro-bars">
            <span class="pro"></span>
          </div>
          {{/if}}
          <div class="pro-nums">
            <span class="pro-hot"></span>
            <span class="pro-num"></span>
          </div>
          <div class="clear"></div>
        </div>
        <div class="super">
          {{if item.isSuper === 1}}
          <div class="icon-super"></div>
          {{/if}}
        </div>
        <div class="price">
          <div class="sale-price"></div>
          <div class="sn-price del"></div>
          <div class="clear"></div>
        </div>
        {{if item.type === 'YKQ'}}
          <div class="btn">马上抢</div>
        {{else if item.type === 'ZZFQ'}}
          <div class="btn">马上抢</div>
        {{else if item.type === 'JJKQ'}}
          <div
            class="btn kstx"
            data-partnumber="{{item.partnumber}}"
            data-vendorcode="{{item.vendorCode}}"
            data-activityid="{{item.grppurId}}"
            data-attractid="{{item.attractId}}"
            data-productname="{{item.grppurName || item.partName}}"
            data-saletime="{{item.gbBegindate}}"
            data-endtime="{{item.gbEnddate}}"
            data-productprice="{{item.gbPrice}}"
            rels="check"
          >开售提醒</div>
        {{/if}}
      </div>
      <a class="prod-link" href="javascript: void(0)" sa-data="{'eletp':'prd','prdid':'{{item.partnumber}}','shopid':'{{item.vendorCode=='0'?'0000000000':item.vendorCode}}','recvalue':'rec'}" target="_blank"></a>
    </div>
  {{/each}}
</script>


		<div class="dl-phone-number dialog">
  <div class="dl-title">
    <h3 class="dl-title-text">温馨提示</h3>
    <p class="dl-close-btn"></p>
  </div>
  <div class="dl-body">
    <h5 class="dl-desc-text">请输入手机号码订阅提醒</h5>
    <input class="dl-phone-input" type="text" />
    <p class="dl-err-info"></p>
    <div class="dl-submit-btn">提交</div>
  </div>
</div>

<div class="dl-mask"></div>

<div class="toast dialog">
  <div class="dl-title">
    <h3 class="dl-title-text">温馨提示</h3>
    <p class="dl-close-btn"></p>
  </div>
  <div class="dl-body">
    <div class="dl-remind-result">
      <img class="dl-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAMAAADH72RtAAAAhFBMVEUAAAD/ZgD/ZwD/ZwD/ZwD/igD/ZwD/ZwD/ZgD/aQD/awD/bwD/cAD/ZwD/ZwD/ZgD/ZwD/ZwD/ZwD/ZwD/ZwD/aAD/aAD/ZgD/ZgD/ZgD/ZgD/ZwD/ZgD/ZwD/ZwD/ZgD/ZgD/ZgD/aAD/ZgD/aQD/awD/aQD/aAD/aQD/aAD/ZwD/ZgBncqJ4AAAAK3RSTlMA+1TAZATKlmosEg0I7eezrIuFfndNPPLi3tvV0bimop5uXiMfHBdxRDYlsk1eTQAAAK1JREFUGNMtj1cSgzAMRGUDBmJ674QSUnT/+0XSsB/a9XrmjQSisEyNs+4WbtkFx3yrljbeQfQYW1fClWEpwUlOgKMIPIA3aio01gBRgljQY+6odzJGI6JD/lJfAKWZRU0mCBc8DDlNiAG7X0kjtN7eDRCY1VxiMy1inpx+xpfdVAPg8oANVUS2xjS9abD06btCE/yZdB9hRLliAq9lMA1qXfRKzhLpNEY15AfnP8/OC4AUWDMcAAAAAElFTkSuQmCC" />
      <span class="dl-remind-text"></span>
    </div>
    <div class="dl-submit-btn">确定</div>
  </div>
</div>


	</div>

</div>


<!-- 错误界面 -->
<!-- <div class="ju-error-zone">
	<i class="icon-lion-sorry"></i>
	网络出小差啦，请稍后再试试~
</div> -->

<div class="ju-error">
    <img src="//res.suning.cn/project/nmnode/pc/images/lion_error.png" class="lion-error"/>
    <p>啊哦，页面加载失败了，请检查网络或稍后再试~</p>
    <a class="refresh-btn" href="javascript:void(0)" onclick="location.reload();">重新加载</a>
</div>



<!-- 用户交互侧边栏(返回顶部等) -->
<div class="ju-user-sidebar" sap-modid="toolBar">
	<ul class="ju-sidebar-list">
		<li id="J-qrcode">
			<span class="icon icon-code"></span>
			<div class="text ju-sidebar-code">
				<a href="//sale.suning.com/syb/yinliuye0512/index.html" target="_blank" class="ju-qrcode-img" name="mps_index_kjgjt_xzkhdbtn"></a>
				<p>
					<a href="//sale.suning.com/syb/yinliuye0512/index.html" target="_blank" name="mps_index_kjgjt_xzkhdbtn">
						下载客户端享更多优惠
					</a>
				</p>
				<i class="icon-ewm"></i>
				<a href="javascript:;" class="btn-close" id="J-qrcode-btn">×</a>
			</div>
		</li>
		<li>
			<span class="icon icon-cust"></span>
			<a class="text onlineService" href="javascript:;" name="mps_index_kjgjt_zxkfbtn">
				在线客服
			</a>
		</li>
		<li id="J-backtop">
			<span class="icon icon-totop"></span>
			<a class="text" href="javascript:;" name="mps_index_kjgjt_fhdbbtn">
				返回顶部
			</a>
		</li>
	</ul>
</div>

	<div class="clear"></div>
<div class="ng-footer">
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	





<div class="ng-s-footer" sap-modid="ViRgl">
	<div class="ng-s-f-con">
		<p class="ng-url-list">
		</p>
		<p class="ng-url-list">
		</p>
		<p class="ng-copyright">
			Copyright© 2002-2019，苏宁易购集团股份有限公司版权所有<span>|</span>
			<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32010202010078" rel="nofollow" style="color:#999" class="gwab"><i></i>苏公网安备 32010202010078号</a><span>|</span>
			<a href="http://www.beian.miit.gov.cn" target="_blank" style="color:#999">苏ICP备10207551号-4</a></p>
		<p class="ng-copyright ng-copyright-2">
			<a href="//res.suning.cn/public/v3/images/dx5006.png" target="_blank" rel="nofollow" style="color:#999">合字B2-20180025</a><span>|</span>
			<a href="//res.suning.cn/public/v3/images/dx1001.png" target="_blank" rel="nofollow" style="color:#999">合字A1.B1.B2-20180017</a><span>|</span>
			<a href="//res.suning.cn/public/v3/images/cbw-20180619.jpg" target="_blank" rel="nofollow" style="color:#999">出版物经营许可证新出发苏批字第A-243号</a><span>|</span>
			互联网药品信息服务资格证书<a href="//res.suning.cn/public/v3/images/yaopin_new.png" target="_blank" rel="nofollow" style="color:#999">（苏）-非经营性-2016-0005</a></p>
		<p class="ng-copyright ng-copyright-3">
			<a href="https://cuxiao.suning.com/jyzz.html" target="_blank" rel="nofollow" style="color:#999">经营证照</a><span>|</span>
			<a href="//res.suning.cn/public/v3/images/ylqx-20190103.jpg" target="_blank" rel="nofollow" style="color:#999">医疗器械网络交易服务第三方平台备案凭证-（苏）网械平台备字（2018）第00052号</a><span>|</span>
			<a href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/ccaf7746824a4f91af567c29abc4b6aa" target="_blank" rel="nofollow" style="color:#999">网络文化经营许可证：苏网文〔2018〕10580-203号</a>
		</p>
		<p class="ng-copyright">本网站直接或间接向消费者推销商品或者服务的商业宣传均属于“广告”（包装及参数、售后保障等商品信息除外）</p>
		<div class="ng-authentication">
			<a href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1566884810.html" target="_blank" name="public0_none_wb_zs0301" rel="nofollow">
				<img src="//res.suning.cn/public/v3/images/wxrz.png" height="24" width="65" alt="网信认证">
			</a>
			<a href="https://search.szfw.org/cert/l/CX20111018000608000610" target="_blank" name="public0_none_wb_zs0302" rel="nofollow">
				<img src="//res.suning.cn/public/v3/images/chengxin.png" height="24" width="76" alt="诚信网站">
			</a>
			<a href="http://image.suning.cn/uimg/snnet/snnetImg/142891196680527240.jpg" target="_blank" name="public0_none_wb_zs0303" rel="nofollow">
				<img src="//res.suning.cn/public/v3/images/unicom.png" height="24" width="76" alt="中国联通授权网络经营代理商">
			</a>
			<a href="//res.suning.cn/public/v3/images/dianxin_content.jpg" target="_blank" name="public0_none_wb_zs0304" rel="nofollow">
				<img src="//res.suning.cn/public/v3/images/dianxin.jpg" height="24" width="76" alt="中国电信授权网络经营代理商">
			</a>
			<a href="http://odr.jsdsgsxt.gov.cn/mbm/entweb/elec/certView.shtml?siteId=27cfad762f3d45069d79a9f8f83f458f" target="_blank" rel="nofollow" name="public0_none_wb_zs0305">
				<img src="//res.suning.cn/public/v3/images/dianzi.png?v=02" height="24" width="76" alt="电子营业执照">
			</a>
		</div>
	</div>
</div>
<!--top fix bar [[-->
<div class="ng-fix-bar"></div>
<!--top fix bar ]]-->
</div>
<style type="text/css">
.ng-footer{height:200px;margin-top:0;}
.ng-s-footer{height:185px;background:none;text-align:center;}
.ng-s-footer p.ng-url-list{height:25px;line-height:25px;}
.ng-s-footer p.ng-url-list a{color:#666666;}
.ng-s-footer p.ng-url-list a:hover{color:#f60;}
.ng-s-footer .ng-authentication{float:none;margin:0 auto;height:25px;width:990px;margin-top:5px;}
.ng-s-footer p.ng-copyright{float:none;width:100%;}
.root1200 .ng-s-footer p.ng-copyright{width:100%;}
</style>
	<script src="//res.suning.cn/project/min/nmnode/common/art-template.js,nmnode/common/env.js?v=2595532"></script><script src="//res.suning.cn/project/min/nmnode/pc/js/common/slide.js,nmnode/pc/js/common/SFE.city.js,nmnode/pc/js/common/backTop.js,nmnode/pc/js/common/common.js,nmnode/pc/js/zsq/base.js,nmnode/pc/js/zsq/countdown.js,nmnode/pc/js/zsq/time.js,nmnode/pc/js/zsq/remind.js,nmnode/pc/js/zsq/index.js,nmnode/pc/js/zsq/burrySalog.js?v=2595532"></script>

</body>
</html>